@import "functions";
@import "variables";
@import "mixins";
@import "reboot";
@import "type";
@import 'utilities';
@import "grid";
@import "tables";
@import "forms";
@import "input-group";

$red: #cb4b32;
$blue: #123a64;

.uppercase {
  text-transform: uppercase;
}

.table {
  font-size: 12px;
}

@include table-row-variant(hovered, rgba(0, 0, 0, 0.025));

.table.table-th-uppercase {
  text-transform: uppercase;
}

.ask {
  color: #cb4b32;
}

.bid {
  color: $blue;
}

.popover {
  position: static;
  padding: .5em 1em;
  background: black;
  color: white;
}
